/* Definição de Fonte */
@font-face {
    font-family: 'Open Sans';
    src: url('/src/fonts/OpenSans-VariableFont_wdth_wght.ttf') format('truetype');
    font-display: swap;
}

:root {
    /* Cores */
    --bg-white: #FFF;
    --bg-dark: #111111;
    --bg-blue: #2871E6;
    --bg-red: #DD1313;
    --border: 2.25rem;
    --bg-opacity: rgba(0, 0, 0, 0.33);
    /* Modo Escuro | Dark Mode */
    --bg-dark-blue: #004bc4;
    --bg-dark-red: #AE0000;
    --bg-card-dark: #00000020;
    /* Modo Alto Contraste | High Contrast */
    --bg-high-contrast: #ff0;
    --bg-card-high-contrast: #00000020;
}

/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", 'sans-serif';
}
body {
    background-color: var(--bg-body);
    color: var(--text-color);
    font-size: 1rem;
}

/* Formulário */
#form:focus-visible {
    border: none;
    outline: none;
}
#formContainer {
    max-width: 50%;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.formRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4rem;
    border-radius: var(--border);
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
}
.formRow h1 {
    text-align: center;
}
.btnCadastro:focus-visible {
    outline: none;
}
.inputCadastro {
    width: 100%;
    border-radius: var(--border);
    height: 3rem;
    padding: 0 .8rem;
    border: solid .125rem var(--bg-button);
    margin: .2rem 0;

    &:focus {
        border: none;
        padding: none;
    }
}
.dicas {
    font-size: 1rem;
    margin: 0 0 1rem 0;
}
.dicas > ul > li {
    list-style: none;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.dicasObrigatorias {
    color: var(--text-color-red);
}
.btnCadastro {
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: var(--border);
    border: solid .125rem var(--bg-button);
    cursor: pointer;
    background-color: var(--bg-button);
    color: var(--bg-white);
    transition: 0.3s;
    font-size: 1rem;
}
.btnCadastro:hover {
    background-color: var(--bg-button-hover);
}
.iconeInput {
    visibility: hidden;
    width: 0;
}

/* Botões e Interações */
.btnAlternar {
    margin: 1rem auto;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btnAlternar > .button {
    display: inline-block;
    background-color: var(--bg-button);
    width: 3.5rem;
    height: 2.25rem;
    border-radius: 5.25rem;
    cursor: pointer;
    position: relative;
    z-index: 102;
}
.btnAlternar > .button::before {
    position: absolute;
    content: '';
    background-color: var(--bg-white);
    width: 1.625rem;
    height: 1.625rem;
    border-radius: 12.5rem;
    margin: .3125rem;
    transition: 0.4s;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.25rem;
}
caption {
    font-size: 1.2em;
    margin-bottom: .625rem;
    font-weight: bold;
}
th {
    background-color: var(--bg-button);
    border: .0625rem solid #ddd;
    padding: .5rem;
    text-align: left;
}
td {
    border: .0625rem solid #ddd;
    padding: .5rem;
}
.btnRemove {
    text-align: center;
}
.btnRemove i {
    color: var(--text-color-red);
}
#tableHead {
    color: var(--bg-white);
}
.tituloTabela {
    width: 100%;
    margin: 1.875rem 0 1rem 0;
}
.tituloTabela>p {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
}

/* Acessibilidade */
#btnAcessibilidade {
    z-index: 100;
    position: absolute;
    right: 3rem;
    transition: right 0.5s ease-out;
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
#btnAcessibilidade i {
    border: var(--bg-button) .125rem solid;
    color: var(--bg-button);
    padding: .1875rem;
    border-radius: 1.875rem;
}
#btnAcessibilidade.active {
    right: 15rem; /* Ajuste conforme necessário */
}
#menuAcessibilidade {
    position: fixed;
    right: -15rem;
    transition: right 0.5s ease-out;
}
#menuAcessibilidade.active {
    right: 1rem;
}
input:checked+.button::before {
    transform: translateX(1.25rem);
}
#check {
    display: none;
}
.itemAcessibilidade {
    cursor: pointer;
    border: none;
    align-items: center;
    background-color: var(--bg-button);
    margin: 1rem 0;
    padding: .7rem;
    display: flex;
    color: var(--text-color);
    width: 100%;
    transition: 0.3s;
}
.itemAcessibilidade:hover {
    background-color: var(--bg-opacity);
    color: var(--bg-white);
}
.iconeAcessibilidade label {
    visibility: hidden;
}
.itemAcessibilidade span {
    margin: 0 0 0 .4rem;
}
.itemAcessibilidade button {
    color: var(--text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 1rem;
}
.iconeAcessibilidade {
    display: flex;
    background-color: var(--icon-button);
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto 0;
    color: var(--icon-color);
}

/* Estilos específicos para cada modo/tema */
body.light {
    --bg-body: var(--bg-white);
    --text-color: var(--bg-dark);
    --bg-button: var(--bg-blue);
    --text-color-red: var(--bg-red);
    --icon-color: var(--bg-dark);
    --icon-button: var(--bg-white);
    --bg-button-hover: var(--bg-dark-blue);

    #form:focus {
        border: var(--bg-blue) .125rem solid;
    }
}
body.dark {
    --bg-body: var(--bg-dark);
    --text-color: var(--bg-white);
    --bg-button: var(--bg-dark-blue);
    --text-color-red: var(--bg-dark-red);
    --icon-color: var(--bg-white);
    --icon-button: var(--bg-dark);
    --bg-button-hover: var(--bg-blue);
}
body.high-contrast {
    --bg-body: var(--bg-dark);
    --bg-button: var(--bg-high-contrast);
    --text-color-red: var(--bg-red);
    --text-color: var(--bg-dark);
    --icon-color: var(--bg-white);
    --icon-button: var(--bg-dark);
    --bg-button-hover: var(--bg-high-contrast);
    color: var(--bg-white);
    th {
        color: var(--bg-dark);
    }
    .btnCadastro {
        color: var(--bg-dark);
    }
    .formRow {
        background-color: var(--bg-dark);
    }
    #btnAcessibilidade {
        color: var(--bg-high-contrast);  
    }
    .btnAlternar > .button::before {
        background-color: var(--bg-dark);
    }
}

/* Media Query */
@media (max-width: 768px) {
    #formContainer {
        max-width: 100%;
        padding: .5rem;
    }
    .formRow {
        padding: 1.5rem;
    }
    #menuAcessibilidade, #menuAcessibilidade.active {
        bottom: 0;
    }
    #btnAcessibilidade {
        bottom: 3%;
    }
}